@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwind-scrollbar-utilities";
@custom-variant dark (&:where(.dark, .dark *));

*{
scroll-behavior: smooth;
}

@theme {
  --color-calming-blue: #4567b7;
  --color-energizing-orange: #ffa07a;
  --color-nature-green: #8bc34a;
  --color-vibrant-green: #34c759;
}
 
@layer base {
  input{
    @apply w-full text-base md:text-xl p-2 border border-gray-500 rounded-l-md outline-none;
  }  
} 
