@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --color-calming-blue: #4567b7;
  --color-energizing-orange: #ffa07a;
  --color-nature-green: #8bc34a;
  --color-vibrant-green: #34c759;
}
/* 
@layer base {
  h2{
    @apply bg-gradient-to-r from-nature-green from-50% to-vibrant-green to-50% bg-clip-text text-transparent text=extrabold;
  }
} */